/*import czcionki*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*menu*/
.menu {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px;
}

/* tekst menu */
.menu a {
    color: black;
    text-transform: uppercase;
    float: left;
    position: relative;
    padding: 10px;
    text-decoration: none;
    line-height: 20px;
    border-radius: 7px;
    font-size: 1.0em;
    letter-spacing: 1.5px;
}

.menu a.opcja {
    left: 10px;
}

/* logo*/
.menu a.logo {
    font-size: 25px;
}

/* podkreślenie pod kursorem */
.menu a.nieaktualna:hover {
    background-color: #ddd;
    color: black;
}

/* podkreślenie aktualnej strony */
.menu a.aktualnastrona {
    background-color: silver;
    color: black;
}

/* background */
section {
    padding:2rem 15%;
}

.background {
    min-height: 93vh;
    background: url(../media/backgroundnews.jpg) no-repeat;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
    place-items: center;
    padding-top: 8rem;
}
/* O mnie */
.bloczek {
    margin: 100px auto;
    background: #f1f1f1;
    position: relative;
    border-radius: 7px;
    text-align: center;
    bottom: 150px;}

/* optymalizacja na telefon */

@media screen and (max-width: 600px) {


    .menu a {
        font-size: 1em;
        float: none;
        display: flex;
        text-align: left;
    }

    .menu a.logo {
        font-size: 25px;
    }
    .bloczek {
        bottom: 150px
    }