/* background */
section {
    padding:2rem 15%;
}

.background {
    min-height: 93vh;
    background: url(../media/backgroundnews.jpg) no-repeat;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
    place-items: center;
    padding-top: 8rem;
}
/* O mnie */
.bloczek {
    margin: 100px auto;
    background: #f1f1f1;
    position: relative;
    border-radius: 7px;
    text-align: center;
    bottom: 150px;

}
.bloczek .poradnikititle {
    justify-content: center;
    
} 
/* ustawienia dla wszystkich info */
article {
    padding: 10px 10px;
    margin: 100px auto;
    background: #f1f1f1;
    position: relative;
    border-radius: 7px;
    margin-bottom: 25px;
    bottom: 150px;
}
/* optymalizacja na telefon */

@media screen and (max-width: 600px) {
    
    .bloczek {
        bottom: 150px
    }